body {
background-color: powderblue;


}

.head {
color: black;
text-align: center;
margin-top: 100px;
background-color: royalblue;
border-radius: 85px;
}

.isi {
margin-left: 235px;
margin-top: 50px;

}